.productFeed {
  display: grid;
  width: 100%;
  grid-auto-flow: row dense;
  margin-top: -16rem;
}

@media (min-width: 700px) {
  .productFeed {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -22rem;
  }
}

@media (min-width: 1000px) {
  .productFeed {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -28rem;
  }
}

@media (min-width: 1300px) {
  .productFeed {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    margin-top: -38rem;
  }
}
