.orders_page {
  height: 100vh;
  background-color: white;
}

.orders_page > main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2.5rem;
}

.orders_page > main > h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #fbbf24;
}

.orders_page > main .order {
  margin-top: 1rem;
}
