.product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1rem 0;
}

.product .image {
  object-fit: contain;
  margin: 0 1rem;
  height: 200px;
  width: 200px;
}

.product .props {
  grid-column: span 3 / span 3;
}

.product .props .title {
  margin: 0.75rem 0 0.5rem;
}

.product .props .description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0.5rem 0;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  line-height: 1rem;
}

.product .props .price {
  margin-bottom: 1.25rem;
}

.product .buttons {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
  justify-self: end;
}

.product .buttons > button {
  margin-top: 0.5rem;
  border-width: 1px;
  border-color: #fcd34d;
  border-radius: 0.125rem;
  background-image: linear-gradient(#fde68a, var(--yellow));
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
