.success_page {
  height: 100vh;
  background-color: var(--background-gray);
}

.success_page > main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.success_page > main .success_container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: #ffffff;
}

.success_page > main .success_container .headline {
  display: flex;
  margin-left: 0.5rem;
  margin-bottom: 1.25rem;
}

.success_page > main .success_container .headline .checkIcon {
  height: 2.5rem;
  color: #10b981;
}

.success_page > main .success_container .headline > h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.success_page > main .success_container > div > a > button {
  flex: 1;
  width: 100%;
  margin-top: 2rem;
  border-width: 1px;
  border-color: #fcd34d;
  border-radius: 0.125rem;
  background-image: linear-gradient(#fde68a, var(--yellow));
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
